@model IEnumerable<Eureka_Forbes.ProductModelMaster.ProductModleMasterVM>

@{
    ViewData["Title"] = "Get All Products and Models";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
@* <h1>Product List</h1> *@

<p>
    <a class="btn btn-outline-primary" asp-action="CreateProductMaster">Add New Product</a>
</p>
<br />

<table id="allProductTable"  class="table tab-border table-hover">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Models</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr id="row-@product.ProductId">
                <td>@product.ProductName</td>
                <td>
                    @product.ModelName
                </td>
                <td>
                    <a class="btn btn-outline-warning" asp-action="UpdateProductModel" asp-controller="ProductMaster" asp-route-id="@product.ModelId">Edit</a>|
                    <a class="btn btn-outline-primary" asp-action="GetAllProductById" asp-controller="ProductMaster" asp-route-id="@product.ModelId">Details</a>|
                    <a class="btn btn-outline-danger" asp-action="DeleteProductById" asp-controller="ProductMaster" asp-route-id="@product.ProductId">Delete</a>
                     @* @Html.ActionLink("Edit", "Edit",  new { id = product.ModelId }) |
                    @Html.ActionLink("Details", "Details", new { id = product.ModelId }) | *@
                    @* <a class="btn btn-outline-danger delete-product" href="javascript:void(0);" data-id="@product.ProductId">Delete</a> *@
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('#allProductTable').dataTable({
            
            });
            $(".delete-product").click(function () {
                debugger;
                var productId = $(this).data("id");
                if (confirm("Are you sure you want to delete this product?")) {
                    $.ajax({
                        url: '@Url.Action("DeleteProduct", "ProductMaster")',
                        type: 'POST',
                        data: { productId: productId },
                        success: function (response) {
                            if (response.success) {
                                $("#row-" + productId).remove();
                                alert(response.message);
                            } else {
                                alert(response.message);
                            }
                        },
                        error: function () {
                            alert("Error deleting product.");
                        }
                    });
                }
            });
        });
    </script>
}
